*{
    
    
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
    
}

nav{
    display:flex;
    justify-content:space-between;
    margin:0px 200px;
    align-items:center;
}
.nav-title{
    font-size:45px;
    font-weight:800;
    color:#181818;
}
.nav-title span{
    color:red;
}
nav ul {
    display:flex;
    justify-content:space-between;
}
nav ul li a{
    text-decoration: none;
    color:#474747;
    
}
nav ul li{
    list-style:none;
    margin-right:50px;
}
.btn{
    border-radius:5px;
    background:orange;
    border:0;
    color:white;
    font-size:20px;
    font-weight:500;
    padding:10px 20px;
}
.header{
    background-color:#FFF8F3;
    background-image:url("busy.jpg");
    background-repeat: no-repeat;
    
    
}
.banner{
    padding:30px 30px 0px 150px;
    display:flex;
    align-items:center;
}
.banner .profile{
    width:400px;
    height:300px;
}
.banner-h3{
    font-size:45px;
    color:#474747;
    margin-bottom:0px;

}
.banner-h1{
    font-size:70px;
    font-style:normal;
    font-weight:700;
    margin-top:5px;
}
.banner-content{
    max-width:500px;
}
.banner.paragraph{

font-size:15px;

}
.about{
    margin:130px;
    padding:130px;
    border-radius:10px;
    background:#FFF8F3;

}
.about-h3{
    text-align:center;
}
main{
    max-width:1185px;
}
main section{
    margin-top:100px;
}
.About-info-container{
    display:flex;
    justify-content:space-around;
    text-align:center;

}
.about-info{
    text-align:center;
}
.section-title5{
    text-align:center;
}
.paragraph-5{
    text-align:center;
    font-size:15px;
    letter-spacing: normal;
    padding:30px 15px;
}
.skills-container{
    display:flex;
    align-items:center;
    justify-content:space-around;
    text-align:center;
    gap:20px;
    padding-left:150px;
}
.skill-description{
    padding:30px 30px;
    text-align:center;
    

}
.skill-title{
    text-align:center;
}
.fa-brands{
    align-items:center;
}
.skill {
    padding:10px;
    border-radius:5px;
    box-shadow:0px 10px 30px 0px rgba(0,0,0,0.09);
    background:#FFF;

}
.section-title2{
    text-align:center;
    font-size:30px;
    font-weight:700;
}
.resume-column-title{
    color:#474747;
    font-size:30px;
    font-weight:700;
}

